<div id="stage">
  <div id="stage-caption">
    <h1 class="display-3">Welcome To Shyft</h1>
    <p>Get The Shyft</p>
    <a href="" class="btn btn-lg btn-success">Login Now</a></div>
</div>

  <section id="feature-one">
    <div class="newContainer">
      <div class="feature-content">
        <div class="row">
          <div class="col-lg-6">
            <iframe width="100%" height="375" src="https://www.youtube.com/embed/NgNq1wgaNYo" frameborder="0" allowfullscreen></iframe>
          </div>
          <div class="col-lg-5 offset-lg-1">
            <h6>Watch This</h6>
            <h2>Learn How Shyft Works In This Video</h2>
            <p class="lead">
              Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            </p>
            <p>
              Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
              when an unknown printer took a galley of type and scrambled it to make a type specimen book.
              Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
              when an unknown printer took a galley of type and scrambled it to make a type specimen book.
              Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
              when an unknown printer took a galley of type and scrambled it to make a type specimen book.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

