<!-- Stage Image -->
<div id="stage">
  <div id="stage-caption">
    <h1 class="display-3">Shyft Anything, Anytime, Anywhere</h1>
    <p>With someone going that way anyway</p>
    <a href="" class="btn btn-lg btn-success">Send A Package Now</a></div>
</div>

<!-- Benefits Section -->
<section id="benefits">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>What are the benefits of Shyft?</h2>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="content">
      <div class="row">
        <div class="col-lg-3 col-md-6 text-center">
          <div class="service-box mt-5 mx-auto">
            <i class="fa fa-4x fa-euro text-primary mb-3 sr-icons"></i>
            <h3 class="mb-3">Made Money</h3>
            <p class="text-muted mb-0">Make money from journeys your already making.</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 text-center">
          <div class="service-box mt-5 mx-auto">
            <i class="fa fa-4x fa-archive text-primary mb-3 sr-icons"></i>
            <h3 class="mb-3">No Size Restrictions</h3>
            <p class="text-muted mb-0">Any size package can be sent with Shyft.</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 text-center">
          <div class="service-box mt-5 mx-auto">
            <i class="fa fa-4x fa-paper-plane text-primary mb-3 sr-icons"></i>
            <h3 class="mb-3">Same Day Delivery</h3>
            <p class="text-muted mb-0">No time is wasted sorting packages.</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 text-center">
          <div class="service-box mt-5 mx-auto">
            <i class="fa fa-4x fa-envira text-primary mb-3 sr-icons"></i>
            <h3 class="mb-3">Cleaner Environment</h3>
            <p class="text-muted mb-0">Reducing unnecessary delivery journeys.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Mobile Section -->
<section id="mobile-section" class="feature-dark">
  <div class="newContainer">
    <div class="feature-content">
      <div class="row">
        <div class="col-lg-6 feature-caption">
          <h6>Mobile Features</h6>
          <h2>Install Shyft On Your Mobile Devices.</h2>
          <p class="lead">
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
            when an unknown printer took a galley of type and scrambled it to make a type specimen book.
            <a href="" role="button" class="btn btn-outline-secondary btn-lg">Download Shyft</a>
          </p>
        </div>
        <div class="col-lg-6 text-sm-center d-none d-lg-block">
          <img src="../../../assets/images/home/shyft_iphone10.png" alt="iphone">
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Timeline Section -->
<section class="timeline-section">
  <div class="newContainer">
    <div class="feature-content">
      <div class="row">
        <div class="col-lg-6">
          <div class="timeline">
            <div class="container left" id="solve-it">
              <div class="content">
                <h6>April, 2017</h6>
                <p class="d-none d-lg-block">Winner in Waterford Institute of Technology Solve It competition.</p>
              </div>
            </div>
            <div class="container right" id="arclabs">
              <div class="content">
                <h6>June, 2017</h6>
                <p class="d-none d-lg-block">Chosen to be part of the Arc Academy Enterprise Development Program.</p>
              </div>
            </div>
            <div class="container left" id="ibye">
              <div class="content">
                <h6>December, 2017</h6>
                <p class="d-none d-lg-block">Winner in Ireland's Best Entrepreneur competition by Kilkenny Local Enterprise Office.</p>
              </div>
            </div>
            <div class="container right" id="sea">
              <div class="content">
                <h6>March, 2018</h6>
                <p class="d-none d-lg-block">Participant in the Student Entrepreneur Awards by Enterprise Ireland</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-5 offset-lg-1">
          <div class="timeline-margin">
            <h6>Timeline</h6>
            <h2>Some of Shyfts Achievements</h2>
            <p class="lead">
              Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
              when an unknown printer took a galley of type and scrambled it to make a type specimen book.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



<!-- Testimonial Section -->
<section id="feature-four" class="feature-alt">
  <div class="newContainer">
    <div class="feature-alt">
      <div class="row">
        <!-- Blank Columns for Spacing -->
        <div class="col-lg-1">
        </div>
        <div class="col-lg-5">
          <h6>Testimonial</h6>
          <blockquote class="blockquote">
            &ldquo;Shyft is great for package delivery.&rdquo;
            <footer class="blockquote-footer">
              Luke Griffin, <cite>Dell</cite>
            </footer>
          </blockquote>
        </div>
        <div class="col-lg-5 d-none d-lg-block">
          <img class="mx-auto rounded-circle hoverZoomLink" src="../../../assets/images/home/team-member.jpg" alt="Testimonial">
        </div>
        <!-- Blank Columns for Spacing -->
        <div class="col-lg-1">
        </div>
      </div>
    </div>
  </div>
</section>

<!--&lt;!&ndash; Macbook Section &ndash;&gt;-->
<!--<section id="feature-three">-->
  <!--<div class="newContainer">-->
    <!--<div class="feature-content">-->
      <!--<div class="row">-->
        <!--<div class="col-lg-6 d-none d-lg-block">-->
          <!--<img src="../../../assets/images/home/shyft_macbook.png" alt="macbook">-->
        <!--</div>-->
        <!--<div class="col-lg-5 offset-lg-1">-->
          <!--<h6>The wow factor</h6>-->
          <!--<h2>Something something something at Shyft something</h2>-->
          <!--<p class="lead">-->
            <!--Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,-->
            <!--when an unknown printer took a galley of type and scrambled it to make a type specimen book.-->
            <!--Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,-->
            <!--when an unknown printer took a galley of type and scrambled it to make a type specimen book.-->
            <!--<a href="" role="button" class="btn btn-outline-secondary btn-lg">Get'r Done</a>-->
          <!--</p>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</section>-->

<!--&lt;!&ndash; Paragraph Section &ndash;&gt;-->
<!--<section id="feature-six">-->
  <!--<div class="newContainer">-->
    <!--<div class="feature-content">-->
      <!--<div class="row">-->
        <!--<div class="col-lg-2">-->
        <!--</div>-->
        <!--<div class="col-lg-8 lg-offset-2">-->
          <!--<h6>100% No Money Back Guarantee</h6>-->
          <!--<h2>Put your money where Shyft's mouth is.</h2>-->
          <!--<p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,-->
            <!--when an unknown printer took a galley of type and scrambled it to make a type specimen book.-->
            <!--Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,-->
            <!--when an unknown printer took a galley of type and scrambled it to make a type specimen book.-->
          <!--</p>-->
          <!--<a href="" role="button" class="btn btn-outline-secondary btn-lg">Give us a few pound.</a>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</section>-->

<!-- Video Section -->
<section id="feature-one">
  <div class="newContainer">
    <div class="feature-content">
      <div class="row">
        <div class="col-lg-6">
          <iframe width="100%" height="375" src="https://www.youtube.com/embed/NgNq1wgaNYo" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="col-lg-5 offset-lg-1 paragraph">
          <h6 class="d-none d-sm-block">Watch This</h6>
          <h2>Learn How Shyft Works In This Video</h2>
          <p class="lead d-none d-sm-block">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          </p>
          <p class="d-none d-sm-block">
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
            when an unknown printer took a galley of type and scrambled it to make a type specimen book.
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
            when an unknown printer took a galley of type and scrambled it to make a type specimen book.
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
            when an unknown printer took a galley of type and scrambled it to make a type specimen book.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Footer Section -->
<app-footer></app-footer>
