<!-- Stage Image -->
<div id="stage">
  <div id="stage-caption">
    <h1 class="display-3">Welcome To Shyft</h1>
    <p>Get The Shyft</p>
    <a href="" class="btn btn-lg btn-success">Login Now</a></div>
</div>
<!-- Feature One -->
<section id="feature-one">
  <div class="newContainer">
    <div class="feature-content">
      <div class="row">
        <div class="col-lg-6">
          <iframe width="100%" height="375" src="https://www.youtube.com/embed/NgNq1wgaNYo" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="col-lg-5 offset-lg-1 paragraph">
          <h6 class="d-none d-sm-block">Watch This</h6>
          <h2>Learn How Shyft Works In This Video</h2>
          <p class="lead d-none d-sm-block">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          </p>
          <p class="d-none d-sm-block">
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
            when an unknown printer took a galley of type and scrambled it to make a type specimen book.
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
            when an unknown printer took a galley of type and scrambled it to make a type specimen book.
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
            when an unknown printer took a galley of type and scrambled it to make a type specimen book.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Feature Two -->
<section id="feature-two" class="feature-dark">
  <div class="newContainer">
    <div class="feature-content">
      <div class="row">
        <div class="col-lg-6 feature-caption">
          <h6>Incredible Feature</h6>
          <h2>Totally random websites. At the touch of your finger pads.</h2>
          <p class="lead">
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
            when an unknown printer took a galley of type and scrambled it to make a type specimen book.
            <a href="" role="button" class="btn btn-outline-secondary btn-lg">Get in on the action</a>
          </p>
        </div>
        <div class="col-lg-6 text-sm-center d-none d-lg-block">
          <img src="../../../assets/images/home/shyft_iphone10.png" alt="iphone">
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Feature Three -->
<section id="feature-three">
  <div class="newContainer">
    <div class="feature-content">
      <div class="row">
        <div class="col-lg-6 d-none d-lg-block">
          <img src="../../../assets/images/home/shyft_macbook.png" alt="macbook">
        </div>
        <div class="col-lg-5 offset-lg-1">
          <h6>The wow factor</h6>
          <h2>Something something something at Shyft something</h2>
          <p class="lead">
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
            when an unknown printer took a galley of type and scrambled it to make a type specimen book.
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
            when an unknown printer took a galley of type and scrambled it to make a type specimen book.
            <a href="" role="button" class="btn btn-outline-secondary btn-lg">Get'r Done</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Feature Four -->
<section id="feature-four" class="feature-alt">
  <div class="newContainer">
    <div class="feature-alt">
      <div class="row">
        <!-- Blank Columns for Spacing -->
        <div class="col-lg-1">
        </div>
        <div class="col-lg-5">
          <h6>Testimonial</h6>
          <blockquote class="blockquote">
            &ldquo;Shyft is great for package delivery.&rdquo;
            <footer class="blockquote-footer">
              Luke Griffin, <cite>Dell</cite>
            </footer>
          </blockquote>
        </div>
        <div class="col-lg-5 d-none d-lg-block">
          <img class="mx-auto rounded-circle hoverZoomLink" src="../../../assets/images/home/team-member.jpg" alt="team member">
        </div>
        <!-- Blank Columns for Spacing -->
        <div class="col-lg-1">
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Feature Five -->
<section id="feature-five" class="feature-full">
  <div class="newContainer">
    <div class="feature-content">
      <div class="row">
        <div class="col-lg-8 offset-lg-2">
          <h6>Powerfully packed action</h6>
          <h2>When it absolutely, positively has to be Shyft overnight.</h2>
          <p class="lead">
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
            when an unknown printer took a galley of type and scrambled it to make a type specimen book.
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
            when an unknown printer took a galley of type and scrambled it to make a type specimen book
          </p>
          <h6>With Shyft you can:</h6>
        </div>
      </div>
    </div>
  </div>
</section>




