#small-footer {
  background: #262F36;
  color: white;
  padding: 3rem;
  font-size: 0.8rem;
  position: absolute;
  bottom: 0;
  width: 100%;
}

#small-footer h6 {
  color: #718fa9;

}

#small-footer a {
  color: white;
}
