<footer id="main-footer">
  <div class="newContainer">
    <div class="row">
      <div class="col md-6">
        <a class="navbar-brand" href="/"><img src="../../../assets/images/logo/shift_logo_1.png" alt="shyft.logo" height="45"></a> <br>
        &copy; 2018 Shyft <br>
        Project by <a href="https://github.com/EnjoiPandaCow/">CJ O'Sullivan</a>
      </div>
      <div class="col-md-2">
        <h6>Our Product</h6>
        <ul class="list-unstyled">
          <li><a href="">Features</a></li>
          <li><a href="">Solutions</a></li>
          <li><a href="">Plans</a></li>
          <li><a href="">Sign In</a></li>
        </ul>
      </div>
      <div class="col-md-2">
        <h6>Our Team</h6>
        <ul class="list-unstyled">
          <li><a href="">About</a></li>
          <li><a href="">Highlights</a></li>
          <li><a href="">Investors</a></li>
          <li><a href="">Partners</a></li>
        </ul>
      </div>
      <div class="col-md-2">
        <h6>Other Things</h6>
        <ul class="list-unstyled">
          <li><a href="">Jobs</a></li>
          <li><a href="">Contact</a></li>
          <li><a href="">FAQ</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
