#main-footer {
  background: #000000;
  color: white;
  padding: 6rem 0;
  font-size: 0.8rem;
}

#main-footer h6 {
  color: white;

}

#main-footer a {
  color: white;
}

img {
  width: 11%;
  height: 11%
}

@media screen and (max-width: 360px) {
  img {
    width: 25%;
    height: 25%
  }
}

@media screen and (max-width: 600px) {
  img {
    width: 15%;
    height: 15%
  }
}

@media screen and (max-width: 770px) {
  #brand {
    padding-bottom: 1rem;
  }

  #main-footer {
    padding: 2rem 0rem;
  }
}

