#main-footer {
  background: #000000;
  color: white;
  padding: 6rem 0;
  font-size: 0.8rem;
}

#main-footer h6 {
  color: white;

}

#main-footer a {
  color: white;
}

img {
  width: 11%;
  height: 11%
}

@media screen and (max-width: 360px) {
  img {
    width: 20%;
    height: 20%
  }
}

@media screen and (max-width: 600px) {
  img {
    width: 15%;
    height: 15%
  }
}

