<div class="contentContainer" xmlns="http://www.w3.org/1999/html">
  <br>
  <br>
  <h1 class="page-header">{{job.title}}</h1>
  <br>
  <div class="col-md-12">
    <div class="card mb-4 box-shadow">
      <img class="card-img-top" src="../../../../assets/images/placeholders/placeholder.png" alt="Card image cap">
      <div class="card-body">
        <br>
        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-3">
            <h2>Pick Up</h2>
            <p><i class="far fa-calendar-alt"></i> {{ job.pDate | date:'dd / MM / yyyy' }}</p>
            <p><i class="far fa-clock"></i> {{job.pTime}}</p>
            <p><i class="fas fa-map-marker"></i> {{job.pAddress}}</p>
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-3">
            <h2>Drop Off</h2>
            <p><i class="far fa-calendar-alt"></i> {{ job.dDate | date:'dd / MM / yyyy' }}</p>
            <p><i class="far fa-clock"></i> {{job.dTime}}</p>
            <p><i class="fas fa-map-marker"></i> {{job.dAddress}}</p>
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-3">
            <h2>Details</h2>
            <p><i class="fas fa-box"></i>  {{job.size}}</p>
            <p><i class="far fa-user"></i> {{job.postedBy}}</p>
            <p><i class="far fa-calendar"></i> {{job.postedOn | date:'dd / MM / yyyy' }}</p>
          </div>
          <div class="col-md-1"></div>
        </div>
        <hr>
        <br>
        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-5">
            <h2>Description</h2>
            <p>{{job.description}}</p>
          </div>
        </div>
      </div>
    </div>

    <ul class="list-group">
      <li class="list-group-item">
        <!-- Post Comment Button -->
        <button type="button" name="button" class="btn btn-sm btn-outline-secondary" (click)="draftComment(job._id)"
                [disabled]="newComment.indexOf(job._id) > -1">Apply For Job
        </button>
        <div class="btn-mgn" *ngIf="newComment.indexOf(job._id) > -1">
          <form [formGroup]="commentForm">
            <textarea name="comment" rows="10" cols="30" class="form-control" formControlName="comment"></textarea>
            <div [ngClass]="">
              <ul class="help-block">
                <li *ngIf="commentForm.comment.controls.comment.errors?.required && commentForm.controls.comment.dirty">
                  This field is required.
                </li>
                <li *ngIf="(commentForm.comment.controls.comment.errors?.maxLength && commentForm.controls.comment.dirty) || (commentForm.comment.controls.comment.errors?.minLength && commentForm.controls.comment.dirty)">
                  Comment must be at least 1 character but no more than 200.
                </li>
              </ul>
            </div>
            <br>
            <button [disabled]="!commentForm.valid || processing" type="submit" name="button" class="btn btn-sm btn-info"
                    (click)="postComment(job._id)">Submit Post
            </button>
            <button [disabled]="processing" type="button" name="button" class="btn btn-sm btn-danger"
                    (click)="cancelSubmission(job._id)">Cancel
            </button>
          </form>
        </div>


      <li *ngIf="enabledComments.indexOf(job._id) === -1 && job.comments.length > 0" class="list-group-item">
        <span (click)="expand(job._id)">
          <strong>Show Comments</strong>&nbsp;&nbsp;
          <div class="glyphicon glyphicon-comment"></div>
        </span>
      </li>


      <li *ngIf="enabledComments.indexOf(job._id) > -1" class="list-group-item">
      <span (click)="collapse(job._id)">
        <strong>Hide Comments</strong>&nbsp;&nbsp;
        <div class="glyphicon glyphicon-comment"></div>
      </span>
      </li>


      <div *ngIf="enabledComments.indexOf(job._id) > -1">
        <li *ngFor="let comment of job.comments" class="list-group-item">
          <strong>{{comment.commentator}}:</strong> {{comment.comment}} <button type="button" name="button" class="btn btn-sm btn-outline-secondary">Approve </button>
        </li>
      </div>
    </ul>
  </div>
</div>

<app-footer></app-footer>
