<div class="contentContainer" xmlns="http://www.w3.org/1999/html">
  <h1 class="page-header">Shyft Jobs</h1>

  <div class="row show-hide-message" *ngIf="message && newJob">
    <div [ngClass]="messageClass">
      {{ message }}
    </div>
  </div>

  <button type="button" name="button" class="btn btn-primary" *ngIf="!newJob" (click)="newJobForm()">Set Up Job</button>

  <!-- New Job Form -->
  <form [formGroup]="form" name="jobForm" (submit)="onJobSubmit()" *ngIf="newJob">

    <!-- Title Input -->
    <div class="form-group">
      <label for="title">Title</label>
      <div [ngClass]="{'has-success': form.controls.title.valid, 'has-error': form.controls.title.dirty && form.controls.title.errors}">
        <input type="text" name="title" class="form-control" placeholder="Title" autocomplete="off" formControlName="title" />
        <ul class="help-block">
          <li *ngIf="form.controls.title.dirty && form.controls.title.errors?.required">This field is required.</li>
        </ul>
      </div>
    </div>

    <!-- Description Input -->
    <div class="form-group">
      <label for="description">Description</label>
      <div [ngClass]="{'has-success': form.controls.description.valid, 'has-error': form.controls.description.dirty && form.controls.description.errors}">
        <input type="text" name="description" class="form-control" placeholder="Description" autocomplete="off" formControlName="description"/>
        <ul class="help-block">
          <li *ngIf="form.controls.description.dirty && form.controls.description.errors?.required">This field is required.</li>
        </ul>
      </div>
    </div>

    <!-- Size Input -->
    <div class="form-group">
      <label for="size">Size</label>
      <div [ngClass]="{'has-success': form.controls.size.valid, 'has-error': form.controls.size.dirty && form.controls.size.errors}">
        <select type="text" name="size" class="form-control" autocomplete="off" formControlName="size">
          <option value="volvo">Fits in a Shoebox</option>
          <option value="saab">Fits in the Front Seat</option>
          <option value="opel">Fits in the Back Seat</option>
          <option value="audi">Fits in the Boot</option>
        </select>
        <ul class="help-block">
          <li *ngIf="form.controls.size.dirty && form.controls.size.errors?.required">This field is required.</li>
        </ul>
      </div>
    </div>


    <!-- Pick Up Date Input -->
    <div class="form-group">
      <label for="pDate">Pick Up Date</label>
      <div [ngClass]="{'has-success': form.controls.pDate.valid, 'has-error': form.controls.pDate.dirty && form.controls.pDate.errors}">
        <input type="date" name="pDate" class="form-control" placeholder="Pick Up Date" autocomplete="off" formControlName="pDate" />
        <ul class="help-block">
          <li *ngIf="form.controls.pDate.dirty && form.controls.pDate.errors?.required">This field is required.</li>
        </ul>
      </div>
    </div>

    <!-- Pick Up Time Input -->
    <div class="form-group">
      <label for="pTime">Pick Up Time</label>
      <div [ngClass]="{'has-success': form.controls.pTime.valid, 'has-error': form.controls.pTime.dirty && form.controls.pTime.errors}">
        <input type="time" name="pTime" class="form-control" placeholder="Pick Up Time" autocomplete="off" formControlName="pTime" />
        <ul class="help-block">
          <li *ngIf="form.controls.pTime.dirty && form.controls.pTime.errors?.required">This field is required.</li>
        </ul>
      </div>
    </div>

    <!-- Pick Up Address Input -->
    <div class="form-group">
      <label for="pAddress">Pick Up Address</label>
      <div [ngClass]="{'has-success': form.controls.pAddress.valid, 'has-error': form.controls.pAddress.dirty && form.controls.pAddress.errors}">
        <input type="text" name="pAddress" class="form-control" placeholder="Pick Up Address" autocomplete="off" formControlName="pAddress" />
        <ul class="help-block">
          <li *ngIf="form.controls.pAddress.dirty && form.controls.pAddress.errors?.required">This field is required.</li>
        </ul>
      </div>
    </div>

    <!-- Drop Off Date Input -->
    <div class="form-group">
      <label for="dDate">Drop Off Date</label>
      <div [ngClass]="{'has-success': form.controls.dDate.valid, 'has-error': form.controls.dDate.dirty && form.controls.dDate.errors}">
        <input type="date" name="dDate" class="form-control" placeholder="Drop Off Date" autocomplete="off" formControlName="dDate" />
        <ul class="help-block">
          <li *ngIf="form.controls.dDate.dirty && form.controls.dDate.errors?.required">This field is required.</li>
        </ul>
      </div>
    </div>

    <!-- Drop Off Time Input -->
    <div class="form-group">
      <label for="dTime">Drop Off Time</label>
      <div [ngClass]="{'has-success': form.controls.dTime.valid, 'has-error': form.controls.dTime.dirty && form.controls.dTime.errors}">
        <input type="time" name="dTime" class="form-control" placeholder="Drop Off Time" autocomplete="off" formControlName="dTime" />
        <ul class="help-block">
          <li *ngIf="form.controls.dTime.dirty && form.controls.dTime.errors?.required">This field is required.</li>
        </ul>
      </div>
    </div>

    <!-- Drop Off Address Input -->
    <div class="form-group">
      <label for="dAddress">Drop Off Address</label>
      <div [ngClass]="{'has-success': form.controls.dAddress.valid, 'has-error': form.controls.dAddress.dirty && form.controls.dAddress.errors}">
        <input type="text" name="dAddress" class="form-control" placeholder="Drop Off Address" autocomplete="off" formControlName="dAddress" />
        <ul class="help-block">
          <li *ngIf="form.controls.dAddress.dirty && form.controls.dAddress.errors?.required">This field is required.</li>
        </ul>
      </div>
    </div>

    <button [disabled]="processing"  type="button" name="button" (click)="goBack()" class="btn btn-warning">Go Back</button>
    <button [disabled]="processing || !form.valid"  type="submit" name="button" class="btn btn-success">Submit</button>

  </form>
  <!-- New Job Form -->

  <br>
  <br>

  <div *ngIf="!newJob" class="row">
    <div class="col-md-4" *ngFor="let job of jobPosts">
      <div class="card mb-4 box-shadow">
        <img class="card-img-top" src="../../../assets/images/placeholders/placeholder.png" alt="Card image cap">
        <div class="card-body">
          <p class="card-text"><strong>{{ job.title }}</strong></p>
          <small class="text-muted">{{job.pAddress}} - {{ job.postedOn | date:'dd / MM / yyyy' }}</small>
          <br>
          <br>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
              <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
            </div>
            <small class="text-muted">{{ job.postedBy }}</small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
