<div class="jumbotron text-center">
  <h1>Administration Area</h1>
</div>

  <div id="push" class="row">
    <div class="col-sm-6 col-md-6">
      <div class="thumbnail"><a routerLink="/users"><i class="fa fa-users"></i></a>
            <div class="caption">
              <a routerLink="/users"><h3 id="users">Users</h3></a>
        </div>
      </div>
    </div>

  <div class="col-sm-6 col-md-6">
    <div class=thumbnail> <i class="fa fa-building"></i>
      <div class=caption>
        <h3 id="facilities">Facilities</h3>
      </div>
    </div>
  </div>


</div>
