#users {
  margin-left: 45%;
}

#facilities{
  margin-left: 40%
}

.fa-users {
  font-size: 120px;
  margin-left: 40%;
  color: rgba(0, 191, 255, 0.41);
  margin-top: 20px;
}

.fa-building {
  font-size: 120px;
  margin-left: 40%;
  color: rgba(0, 191, 255, 0.41);
  margin-top: 20px;
}


